html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon",type="image/x-icon",href="https://www.luckydraw.live/favicon.ico")
    link(rel="stylesheet", href="/css/vendor.css")
    link(rel="stylesheet", href="/css/app.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="javascripts/main.js")
    title Spin Lucky
    script.
     var list=!{JSON.stringify(data.listCode)};
     var data = !{JSON.stringify(data)};
  body(class='theme-purple modal-open')
    .wrapper
      header.header
        .container-fluid
          .row 
            .logo-zone
            .col-xs-12
              h1
                span.event-name #{data.appName}
              .header-content #{data.eventName}
      .main
        .container-fluid
          .row
            .col-xs-12
              section.section.section-prize
                header.section-head
                 .section-head-actions
                    p #{data.competitionName}
                .section-body
                  .section-body-inner.section-body-inner-primary
                    ul.slots
                      each item in data.countColumns
                        li.slot.slot-1of6.state-ready
                          .slotMachineContainer
                            .slot-item
                              .slot-number
                                span.available
                                  img(src="images/bronze-prize.svg") 
                .section-actions
                  .section-message
                    h2
                      span.state-ready.text-spin Press the Spin button to start
                  .section-button
                    .state-ready
                      a.btn.btn-yellow.btn-yellow-secondary.btn-start Spin
                      a.btn.btn-yellow.btn-yellow-secondary.hidden.btn-stopped Stop
                      a.btn.btn-yellow.btn-yellow-secondary.btn-confirm.hidden Confirm
                      a.btn.btn-primary.btn-reject.hidden Reject
      .row
        .col-xs-12(style='text-align: left')
          nav.footer-nav.light-on
            ul
              li
                a.toggle-result
                  i.fa.fa-history.fa-2x History Result
      .modal.animation-modal-x.in(style='z-index: 1050; display: block;')
        .modal-dialog.modal-result(style='transform: translateY(-50%);top: 50%;height:500px;overflow-y:auto')
          .modal-content(uib-modal-transclude='')
              #modal-IdResult.modal-header
                h4.modal-title Result
                button.close(type='button')
                  i.fa.fa-times.fa-2x
              .modal-body
                table.table.table-history
                  thead
                    tr
                      th ID
                      th Name
                      th Date                
                  tbody
                    tr
                      td ID
                      td Name
                      td Date
                    tr
                      td ID
                      td Name
                      td Date
               
