[uib-typeahead-popup].dropdown-menu {
  display: block;
}

.uib-time input {
  width: 50px;
}

[uib-tooltip-popup].tooltip.top-left>.tooltip-arrow,
[uib-tooltip-popup].tooltip.top-right>.tooltip-arrow,
[uib-tooltip-popup].tooltip.bottom-left>.tooltip-arrow,
[uib-tooltip-popup].tooltip.bottom-right>.tooltip-arrow,
[uib-tooltip-popup].tooltip.left-top>.tooltip-arrow,
[uib-tooltip-popup].tooltip.left-bottom>.tooltip-arrow,
[uib-tooltip-popup].tooltip.right-top>.tooltip-arrow,
[uib-tooltip-popup].tooltip.right-bottom>.tooltip-arrow,
[uib-tooltip-html-popup].tooltip.top-left>.tooltip-arrow,
[uib-tooltip-html-popup].tooltip.top-right>.tooltip-arrow,
[uib-tooltip-html-popup].tooltip.bottom-left>.tooltip-arrow,
[uib-tooltip-html-popup].tooltip.bottom-right>.tooltip-arrow,
[uib-tooltip-html-popup].tooltip.left-top>.tooltip-arrow,
[uib-tooltip-html-popup].tooltip.left-bottom>.tooltip-arrow,
[uib-tooltip-html-popup].tooltip.right-top>.tooltip-arrow,
[uib-tooltip-html-popup].tooltip.right-bottom>.tooltip-arrow,
[uib-tooltip-template-popup].tooltip.top-left>.tooltip-arrow,
[uib-tooltip-template-popup].tooltip.top-right>.tooltip-arrow,
[uib-tooltip-template-popup].tooltip.bottom-left>.tooltip-arrow,
[uib-tooltip-template-popup].tooltip.bottom-right>.tooltip-arrow,
[uib-tooltip-template-popup].tooltip.left-top>.tooltip-arrow,
[uib-tooltip-template-popup].tooltip.left-bottom>.tooltip-arrow,
[uib-tooltip-template-popup].tooltip.right-top>.tooltip-arrow,
[uib-tooltip-template-popup].tooltip.right-bottom>.tooltip-arrow,
[uib-popover-popup].popover.top-left>.arrow,
[uib-popover-popup].popover.top-right>.arrow,
[uib-popover-popup].popover.bottom-left>.arrow,
[uib-popover-popup].popover.bottom-right>.arrow,
[uib-popover-popup].popover.left-top>.arrow,
[uib-popover-popup].popover.left-bottom>.arrow,
[uib-popover-popup].popover.right-top>.arrow,
[uib-popover-popup].popover.right-bottom>.arrow,
[uib-popover-html-popup].popover.top-left>.arrow,
[uib-popover-html-popup].popover.top-right>.arrow,
[uib-popover-html-popup].popover.bottom-left>.arrow,
[uib-popover-html-popup].popover.bottom-right>.arrow,
[uib-popover-html-popup].popover.left-top>.arrow,
[uib-popover-html-popup].popover.left-bottom>.arrow,
[uib-popover-html-popup].popover.right-top>.arrow,
[uib-popover-html-popup].popover.right-bottom>.arrow,
[uib-popover-template-popup].popover.top-left>.arrow,
[uib-popover-template-popup].popover.top-right>.arrow,
[uib-popover-template-popup].popover.bottom-left>.arrow,
[uib-popover-template-popup].popover.bottom-right>.arrow,
[uib-popover-template-popup].popover.left-top>.arrow,
[uib-popover-template-popup].popover.left-bottom>.arrow,
[uib-popover-template-popup].popover.right-top>.arrow,
[uib-popover-template-popup].popover.right-bottom>.arrow {
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  margin: 0;
}

[uib-popover-popup].popover,
[uib-popover-html-popup].popover,
[uib-popover-template-popup].popover {
  display: block !important;
}

.uib-datepicker-popup.dropdown-menu {
  display: block;
  float: none;
  margin: 0;
}

.uib-button-bar {
  padding: 10px 9px 2px;
}

.uib-position-measure {
  display: block !important;
  visibility: hidden !important;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.uib-position-scrollbar-measure {
  position: absolute !important;
  top: -9999px !important;
  width: 50px !important;
  height: 50px !important;
  overflow: scroll !important;
}

.uib-position-body-scrollbar-measure {
  overflow: scroll !important;
}

.uib-datepicker .uib-title {
  width: 100%;
}

.uib-day button,
.uib-month button,
.uib-year button {
  min-width: 100%;
}

.uib-left,
.uib-right {
  width: 100%
}

.ng-animate.item:not(.left):not(.right) {
  -webkit-transition: 0s ease-in-out left;
  transition: 0s ease-in-out left
}

@charset "UTF-8";
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-shim {
  visibility: hidden;
}

.ng-anchor {
  position: absolute;
}

.loader-block {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 999999;
  position: fixed;
  text-align: center;
  background-color: #ffffff;
  background-image: url(images/loader.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.animation-spin {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-animation-name: spinAnimation;
  -webkit-animation-duration: 0.5s;
  animation-name: spinAnimation;
  animation-duration: 0.5s;
  color: transparent;
  text-shadow: 0 0 5px rgba(222, 221, 221, 0.50);
  /* background-color: red; */
}

@keyframes spinAnimation {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 0px;
    top: -200px;
  }
}

.current {
  transition: all 0.3s ease-out;
  opacity: 1.0;
}

.in {
  opacity: 0.0;
  transform: rotate3d(1, 0, 0, -90deg);
}

.out {
  transition: all 0.3s ease-out;
  opacity: 0.0;
  transform: rotate3d(1, 0, 0, 90deg);
}

.table-history thead tr th {
  font-weight: bold;
}

.table-history tbody tr td {
  padding-left: 6px;
}

.table-history tbody>tr>td:first-child {
  padding-left: 6px;
}